/* Base Styles */
:root {
  --fb-color: #1877f2;
}

html {
  /* font-size: 62.5%; */
  overflow-x: hidden;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;

  outline: none;
  border: none;
  list-style-type: none;
  text-decoration: none;
  /* text-transform: capitalize; */
  transition: all 0.6s ease-in-out;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-family: sans-serif;
  font-size: 1.6rem;
  /* line-height: 1.5rem; */
  background: #f1f2f5;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  color: inherit;
}
/*============== Layout ==============*/
.d-flex {
  display: flex;
  flex-wrap: wrap;
}

.d-column {
  flex-direction: column;
}

.ai-center {
  align-items: center;
}

.jc-center {
  justify-content: center;
}

.jc-between {
  justify-content: space-between;
}

.jc-around {
  justify-content: space-around;
}

.jc-even {
  justify-content: space-evenly;
}

.gap-1 {
  gap: 0.5rem;
}

.gap-2 {
  gap: 1rem;
}

.gap-3 {
  gap: 1.5rem;
}

.gap-4 {
  gap: 2rem;
}

.alert {
  padding: 0.8rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  font-size: 1.5rem;
  background-color: red;
  color: #fff;
}

.alert-danger {
  background-color: red;
  color: #fff;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 320px) {
  body {
    font-size: 0.7rem;
  }
}
